# This file is written for learining purposes only. The project is deployed to any server.

name: Deployment

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Copy files to server
              uses: appleboy/scp-action@master
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USER }}
                  key: ${{ secrets.VPS_SSH_KEY }}
                  source: "."
                  target: "/home/${{secrets.VPS_USER}}/projects/instagram-clone"

            - name: Deploy to production
              uses: appleboy/ssh-action@v3
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USER }}
                  key: ${{ secrets.VPS_SSH_KEY }}
                  script: |
                      cd ~/projects/instagram-clone
                      git pull origin main
                      docker-compose down 
                      docker-compose up -d --build
                      echo "Deployed successfully"
